@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
.nunito-sans{
  font-family: "Nunito Sans", sans-serif;
}
#darkModeBtn {
    all: unset;
    cursor: pointer;
}
.fw-300{
    font-weight: 300;
}
.fw-600{
    font-weight: 600;
}
.fw-800{
    font-weight: 800;
}
nav{
    box-shadow: 0px 3px 3px 3px transparent;
}